.error-page{
    position: absolute;
    /* top: 10%; */
    left: 17%;
    right: 17%;
    /* bottom: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding-bottom: 200px;
}

.error-page .content{
    max-width: 500px;
    text-align: center;
}

.content h1{
    font-size: 18vw;
    line-height: 1em;
}

.content h4{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    max-width: 600px;
    font-size: 2em;
}

.content p{
    font-size: 1.2em;
    color: #0d0d0d;
}

.content .btns{
    margin: 25px 0;
    display: inline-flex;
    text-decoration: none;
    border: 2px solid #69a6ce;
    color: #69a6ce;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 25px;
    text-transform: uppercase;
}

.content .btns h5{
    text-align: center;
    justify-content: center;
}